@code {
  [Parameter] public EventCallback<string> SetActivePage { get; set; }
  private void ChangePage(string page) { SetActivePage.InvokeAsync(page); }
}

<div>
  <h2>Menu Component</h2>
  <button @onclick="@(() => ChangePage("title"))">もどる</button>
  <button @onclick="@(() => ChangePage("voxel"))">Voxel</button>
  <button @onclick="@(() => ChangePage("pixels"))">Pixels</button>
  <button @onclick="@(() => ChangePage("mesh"))">Mesh</button>
  <button @onclick="@(() => ChangePage("describe"))">説明</button>
</div>
